<mat-card>

    <mat-card-header>
        <mat-card-title>
            Reset Password
        </mat-card-title>
    </mat-card-header>

    <mat-card-content>


        <form #resetPasswordForm="ngForm" class="example-form" [formGroup]="forgotPasswFormGroup">

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="emailFormControl">
            </mat-form-field>
            <button mat-raised-button (click)="sendPasswordResetEmail(resetPasswordForm)" [disabled] = "!forgotPasswFormGroup.valid">Send reset email</button>
      
            <br>
            <span>Don't Forgot password ? <span class="redirect" routerLink="/signin">Sign In</span></span>
    
    
        </form>

      
    </mat-card-content>

</mat-card>