<mat-card>

  <mat-card-header>
    <mat-card-title>
      Account
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>


    <form class="example-form">
      <!-- <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Company (disabled)</mat-label>
        <input matInput disabled value={{userEmail}}>
      </mat-form-field> -->

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput value={{userEmail}} disabled>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Last login</mat-label>
        <input matInput value={{lastLogin}} disabled>
      </mat-form-field>
    </form>

  </mat-card-content>

</mat-card>
